@import "./variables";
@import "./helpers";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

// variables



// Global Styles

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  // position: relative;
}

// heading

.hero {
  height: 811px;

  position: relative;

  header {
    z-index: 1;

    .items {
      display: flex;
      color: white;
      width: 50%;
      justify-content: space-between;

    }

    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        width: 11.8125rem;

        img {
          width: 100%;
        }
      }

      &-list {


        list-style: none;
        display: flex;
        margin: 0;
        box-sizing: border-box;

        .nav-item {
          margin-inline: 1rem;

          .nav-link {
            text-decoration: none;
            color: inherit;
          }
        }
      }

    }
  }

  .banner {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    &_inner {

      display: flex;
      height: 700px;

      .left {
        flex: 1;
        display: flex;
        align-items: center;

        &_wrapper {
          height: 70%;
          width: 100%;

          &-container {
            width: 548px;
            position: relative;

            p {
              font-size: 3rem;
              font-weight: 900;
              line-height: 58.09px;
            }

            .arrow-curve {
              position: absolute;
              right: 30%;
              bottom: 10%;
            }

          }
        }

      }

      .right {
        background: $primary;
        flex: 1;
        display: flex;
        align-items: center;

        &_wrapper {
          height: 70%;
          width: 100%;
          position: relative;

          img {
            width: 100%;
          }

          .image-1 {
            width: 466px;
            position: absolute;
            left: -7%;
          }

          .image-2 {
            width: 359px;
            position: absolute;
            bottom: 0;
            right: 134px;
          }
        }
      }
    }
  }
}

//reason
.reason {
  margin-left: 55px;
  margin-top: 0em;
  height: 700px;
  display: flex;

  .reason-left {

    .video-background {
      background-color: $primary;
      height: 620px;
      width: 552px;
      z-index: -2;
      position: relative;
      top: 38px;
      left: 35px;
      // margin-top: -108%;

    }


    iframe {
      height: 635px;
      width: 552px;
      z-index: 1;
      position: absolute;
      top: 800px;

    }
  }




  &-bottom {
    background-color: black;
    height: 620px;
    width: 552px;
    align-items: center;
  }

  .reason-right {
    margin-left: 30px;
    align-items: center;
    width: 70%;
    height: 620px;

    &-heading {
      width: 641px;
      margin-left: 60px;
      font-weight: 700px;
      font-size: 48px;
    }

    .reason-text {
      width: 572px;
      margin-left: 70px;
    }
  }

}

//Report
.report {
  background-color: $primary;
  height: 809;
  top: 1772px;
  padding: 20px;
 
  }

  &-heading {
    color: rgba(255, 255, 255, 1);
    height: 58px;
    width: 350px;
    margin: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-style: normal;
  }

  &-line {
    background-color: white;
    height: 11px;
    width: 110px;
    margin: 40px;
    margin-top: -3%;

  }

  &-box {
    background-color: white;
    width: 230px;
    height: 350px;
    margin: 60px;
    padding: 15px;
    border-radius: 8px;
    margin-top: 1%;
    
    
  }

&-image-name {
  color:rgba(2, 37, 10, 1);
  font-size: 14px;
  font-weight: 500px;
}

report-image-date {
  font-size: 13px;
}

&-text {
  width: 230px;
  height: 86px;
  float: left;
  font-size: 10px;
}

&-button {
  padding: 1.5rem 4.375rem;
  border-radius: 5px;
  margin-left: 40%;
  margin-bottom: 50px;
}

.boxes {
  display: flex;
  margin: -5px;
  padding-left: -40px;
}



//gallery
.gallery {
  height: 700px;
  width: 100%;
  margin-block: 3rem;

  &-heading {
    padding-left: 50px;
    list-style: square;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;

  }

  &-image_one {
    display: flex;
    // position: absolute;
    height: 257px;
    width: 317px;
    padding: 0px 10px 0px 50px;
  }

  #last-images {
    padding: 0 10px 10px 50px;
  }

}
.report-image-one {
  width: 5em;
}


//footer
.design {
  background-color: $primary;
  color: white;
  padding: 0.1rem;
  text-align: center;
}